{% block menu %}
    <div class="Menu">
        <div class="Menu-options">
            <ul class="Menu-options-colors">
                <li><img src="{{ asset('images/red2.png') }}" alt="Red"></li>
                <li><img src="{{ asset('images/green.png') }}" alt="Green"></li>
                <li><img src="{{ asset('images/blue.png') }}" alt="Blue"></li>
                <li><img src="{{ asset('images/yellow.png') }}" alt="Yellow"></li>
            </ul>
        </div>
        <ul class="Menu-list">
            <li><a href="#">profile</a></li>
            <li><a href="#" style="color:#D0021B; font-weight:700;">upcoming</a></li>
            <li><a href="#"><img src="{{ asset('images/logo.png') }}" alt="logo nikki"></a></li>
            <li><a href="#">feature</a></li>
            <li><a href="#">mail</a></li>
        </ul>
    </div>
{% endblock %}
